* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  position: relative; 
  min-height: 100vh;
  width: 100%;
  background-image: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
}
.login-wrapper {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-top: -2rem;
  margin-bottom: 2rem;
  color: #2fffee;
}
  .form .input-group {
    position: relative;
  }
  .form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
  .form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
  }
  .form .input-group input:focus + label,
  .form .input-group input:valid + label {
    transform: translateY(-18px);
    color: #2fffee;
    font-size: .8rem;
  }
  .submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #2fffee;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .forgot-pw {
    color: inherit;
  }
  .account{
    color: inherit;
  }

  #forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
  }
  #forgot-pw:target {
    height: 100%;
    opacity: 1;
  }
  .close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  }
  .registration-btn {
    margin-right: 5%;
    margin-bottom: -3%;
    margin-top: 4%;
}
.form-reg {
  max-width: 760px;
}
.row{
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
.row .input-group{
  margin: auto;
}
.form-reg .col-right, .form-reg .col-left {
  margin-bottom: 5%;
  width: 760px;
  height: 260px;
  background: transparent;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  display: block;
}
.col-left .input-group, .col-right .input-group{
  max-width: 380px;
  padding: 0;
}
.link-col-l {
margin-top: -10%;
}
.link-col-r{
  margin-top: 3%;
  text-align: left;
}

/*-------------- Progress bar ----------------*/
:root{
  --step-color-active: #2fffee;
  --step-color-disabled: #9e9d9d;
}
.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress-steps-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 50%;
  margin: 15px 0;
}
.progress-steps-container .step-number{
  width: 40px;
  height: 40px;
  border: 3px solid var(--step-color-disabled);
  border-radius: 50%;
  font: 16px consolas;
  padding-top: 2.5%;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 1;
  transition: border 0.4s ease-in;
  cursor: pointer;
}
.progress-steps-container .step-number p{
  position: absolute;
  display: flex;
  width: 80px;
  text-align: center;
  transform:translate(-10px, 20px);
  font-size: 12px;
  font-weight: 500;
}
.step-number.active {
  border: 3px solid var(--step-color-active);
  color: var(--step-color-active);
}
.progress-steps-container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-color: var(--step-color-disabled);
  z-index: -1;
}
.step-progression{
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-color: var(--step-color-active);
  transition: width 0.4s ease-in;
  z-index: 1;
}
button {
  margin: 0 5px;
}
.bar-btn{
  position: relative;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #2fffee;
  color: #111;
}
.bar-btn:hover{
  background: #1fb6a9;
}

/*------------- Profil -----------------*/
.profil{
  width: 100%;
  text-align: center;
  padding-top: 1px;
}
h2{
  color: antiquewhite;
  font-size: 30px;
  font-weight: 600;
}
p{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px;
}
.row{
  display: flex;
  justify-content: space-between;
}
.profilWindow-col{
  flex-basis: 50%;
  background: rgb(53, 67, 112);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.profilInfo-col{
  flex-basis: 30%;
  background: rgb(53, 67, 112);
  border-radius: 10px 0 0 10px;
  padding: 20px 12px;
  box-sizing: border-box;
}
.profil-btn{
  position: relative;
  border-radius: 20px;
  padding: 6px 5px;
  text-decoration: none;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #2fffee;
  color: #111;
}
.profil-btn:hover{
  background: #1fb6a9;
}
.form-edit{
  display: inline-block;
  width: 60%;
  min-width: 510px;
  background: transparent;
  box-shadow: none;
  padding: 40px;
}
.form-edit::before{
  content: none;
}
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}

/*------------- Edit profil -----------------*/
.form-edit .col-right, .form-edit .col-left {
  margin-bottom: 5%;
  width: 510px;
  background: transparent;
  padding: 20px;
  cursor: pointer;
  display: block;
}
